.title {
  align-items: center;
  background-color: #000;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.overlay {
  animation: flicker 5s;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

h1 {
  animation: fadeIn 5s;
  color: #FFF;
  font-size: 5vw;
}

@keyframes flicker {
  0% {
    background-color: rgba(0, 0, 0, 0)
  }
  8%: {
    background-color: rgba(255, 255, 255, 1)
  }
  12% {
    background-color: rgba(0, 0, 0, 0)
  }
  14% {
    background-color: rgba(255, 255, 255, 1)
  }
  16% {
    background-color: rgba(0, 0, 0, 0)
  }
  18% {
    background-color: rgba(255, 255, 255, 1)
  }
  20% {
    background-color: rgba(0, 0, 0, 0)
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6)
  }
}

@keyframes fadeIn {
  0% {
    color: rgba(255, 255, 255, 0)
  }
  40% {
    color: rgba(255, 255, 255, 0)
  }
  100% {
    color: rgba(255, 255, 255, 1)
  }
}
