.l-bio {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}


.l-bio .l-section-title, .l-bio-info {
  animation: appear 5s;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: relative;
  top: -100vh;
  width: 100%;
}

.l-section-title {
  align-items: center;
  color: #FFF;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 4vw;
  justify-content: center;
  height: 20%;
}

.l-bio-info {
  height: 80%;
}

.bio-text, .l-bio-info img {
  display: flex;
  font-family: 'Vollkorn SC', sans-serif;=
  height: 100%;
  padding: 50px;
  width: 50%;
}

.l-bio-info img {
  object-fit: contain;
}

.bio-text {
  color: #FFF;
  flex-wrap: wrap;
  font-size: 24px;
  overflow-y: scroll;
}

.bio-text p {
  margin: 0;
}

@keyframes appear {
  0% {
    opacity: 0
  }
  100% {
    opacity: 80%;
  }
}
