.l-bio {
  background-color: #000;
  display: flex;
  position: relative;
  top: 90vh;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.l-section-title {
  align-items: center;
  color: #FFF;
  display: flex;
  font-size: 4vw;
  justify-content: center;
  height: 20%;
  width: 100%;
}

.l-bio-info {
  display: flex;
  height: 80%;
  width: 100%;
}

.bio-text, .l-bio-info img {
  display: flex;
  height: 100%;
  padding: 50px;
  width: 50%;
}

.bio-text {
  font-size: 2vw;
  color: #FFF;
}
