.l-tech {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.l-tech .l-section-title, .l-tech-skills {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: relative;
  top: -100vh;
  width: 100%;
}

.l-tech .l-section-title {
  height: 20%;
}

.l-tech-skills {
  align-items: center;
  height: 80%;
}

.slideshow {
  margin: 0 50px;
  height: 250px;
}
