.l-tech {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.l-tech .l-section-title, .l-tech-skills {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: absolute;
  width: 100%;
}

.l-tech .l-section-title {
  height: 20%;
}

.l-tech-skills {
  flex-wrap: wrap;
  justify-content: center;
  height: 80%;
  top: 20%;
}

.carousel-container {
  height: 100%;
  width: 100%;
  margin-top: -400px;
  perspective: 100em;
}

#carousel {
  justify-content: center;
  display: flex;
  height: 100%;
  transform-style: preserve-3d;
  width: 100%;
}

#carousel img {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
  display: block;
  height: 125px;
  position: absolute;
  top: 80%;
  width: 175px;
}

#carousel img:nth-child(1) { transform: rotateY( 0deg ) translateZ(500px)}
#carousel img:nth-child(2) { transform: rotateY( 22.5deg ) translateZ(500px) }
#carousel img:nth-child(3) { transform: rotateY( 45deg ) translateZ(500px) }
#carousel img:nth-child(4) { transform: rotateY( 67.5deg ) translateZ(500px) }
#carousel img:nth-child(5) { transform: rotateY( 90deg ) translateZ(500px) }
#carousel img:nth-child(6) { transform: rotateY( 112.5deg ) translateZ(500px) }
#carousel img:nth-child(7) { transform: rotateY( 135deg ) translateZ(500px) }
#carousel img:nth-child(8) { transform: rotateY( 157.5deg ) translateZ(500px) }
#carousel img:nth-child(9) { transform: rotateY( 180deg ) translateZ(500px) }
#carousel img:nth-child(10) { transform: rotateY( 202.5deg ) translateZ(500px) }
#carousel img:nth-child(11) { transform: rotateY( 225deg ) translateZ(500px) }
#carousel img:nth-child(12) { transform: rotateY( 247.5deg ) translateZ(500px) }
#carousel img:nth-child(13) { transform: rotateY( 270deg ) translateZ(500px) }
#carousel img:nth-child(14) { transform: rotateY( 292.5deg ) translateZ(500px) }
#carousel img:nth-child(15) { transform: rotateY( 315deg ) translateZ(500px) }
#carousel img:nth-child(16) { transform: rotateY( 337.5deg ) translateZ(500px) }

.tech-name {
  align-items: center;
  color: #FFF;
  font-family: 'Vollkorn SC', sans-serif;
  display: flex;
  font-size: 4vw;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding-bottom: 100px;
}
