.l-projects {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.l-projects .l-section-title, .l-project-imgs {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: relative;
  top: -100vh;
  width: 100%;
}

.l-projects .l-section-title {
  height: 20%;
}

.l-project-imgs {
  align-items: center;
  justify-content: center;
  height: 80%;
}

.project-grid {
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-rows: 50% 50%;
  height: 100%;
  margin: 20px;
  width: 100%;
}
